.python-version
.env
*.pyc
CLAUDE.md
rag_documentation.md
app/cache/models/*
app/cache/tfidf_retriever.pkl
app/test_open_ai_azure_sdk.py
app/test_open_ai_sdk.py
app/test_open_api_langchain.py
app.log
